* {
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.chat-table{
  height: 50vh;
  padding:15px;
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  .div-head{
    display: flex;
  }
  .div-body{
    overflow-y: auto;
    height: 40vh;
  }
  table{
    width:100%;
    text-align: center;
    border: none;
    thead{
      background-color: #F33E46 ;
      color:#fff;
      th{
        border-right:1px solid rgb(254,196,198);
        padding:6px 0;
        &:last-child{
          border-right: none;
        }
      }
    }
    .col-4{
      td{
        width:25%;
      }
    }
    .col-3{
      td{
        width: 33.33%;
      }
      th{
        width: 33.33%;
      }
    }
    tbody{
      tr{
        td{
          padding:6px 0;
          a{
            color: rgb(244,77,77);
          }
        }
      }
    }
  }
}
